@extends('layouts.app')

@section('content')

<div class="post-content-area">
    <div class="hs-header">
        <div class="container">
            <h2 class="heading">
                MY RECIPES
            </h2>
        </div>
    </div>
    <div class="profile container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="post-article-area">
<!--
                  @if (isset($not_updated)  && !empty($not_updated))
                   <div class="alert alert-danger">
                       {{ $not_updated }}
                   </div>
                  @endif
                  @if (isset($updated)  && !empty($updated))
                    <div class="alert alert-success">
                        {{ $updated }}
                    </div>
                  @endif -->
                  @if (Cookie::get('client'))

                    <div class="recipes">
                        <h4>Recipes</h4>
                        @foreach ($user['recipes'] AS $recipe)
                            <div class="col-sm-4 col-xs-12">
                                <div class="single-col3 mar-bot-35">
                                    <div class="col2-img post-img">
                                        <a href="{{ route('recipe', ['id' => $recipe['id']]) }}"><img src="{{$recipe->imageUrl}}" alt=""></a>
                                        <div class="post-img-content">
                                            <h5>
                                                <span>{{ $recipe['name'] }}</span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @endforeach
                    </div>
                  @else
                      You should login first to access this section !
                  @endif
                </div>
            </div>
        </div>
    </div>
</div>
@endsection
